body {
  font-family: math;
  background: #f4f6fb;
  padding: 20px;
  text-align: center;
}

.controls,
.transformers {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#feed {
  max-width: 700px;
  margin: auto;
}

.post {
  background: #ffd0d0;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.post.long {
  border-left: 5px solid #6366f1;
}

.user-separator {
  font-weight: bold;
  margin-top: 20px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .5);
  padding: 30px;
}

.modal-content {
  background: #cacaca;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  font-family: math;
  background: black;
  color: white;
  margin-bottom: 10px;
}

input,
select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

label {
  padding: 5px;
}